footer{
    padding-top: 2rem 2rem;
    color: black;
    text-align: center;
    background-color: $bc-gris;
    align-content: $centro;
}
.pie{
    margin-top: $padd1;
}
.foot{
    margin-top: 1%;
    text-align: $centro;
    h3{
        padding-left: $padd3;
    }
}
.redes{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.social{
    margin: auto;
}